nav {
    display: flex;
    justify-content: space-between;
    background-color: #131921;
    padding: .5em 1.5rem;
    align-items: center;
}



.logo-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}


.search-bar {
    height: 2em;
    width: 30em;
    background-color: white;
    border-radius: 5px;
}

.logo {
    color: red;
}

.logo-name {
    color: white;
}

.icon {
    color: white;
}

.search-icon {
    margin-left: 10px;
}

.account-icon {
    margin-left: .8em;
}

/* Page links */

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.page-links-container {
    background-color: #232F3E;
    padding: .3em;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}